pip==25.3
ipykernel==7.1.0
ipywidgets==8.1.8
matplotlib==3.10.8
numpy==2.4.0
torch==2.9.1
torchvision==0.24.1
pandas==2.3.3
scikit-learn==1.8.0
tqdm==4.67.1
fiftyone==1.11.0
gdown==5.2.0
huggingface-hub==1.2.3
wandb==0.23.1
seaborn==0.13.2
open-clip-torch==3.2.0
einops==0.8.1